@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors - Primary */
  --clr-primary-500: hsl(25 97% 53%);

  /* Colors - Neutral */
  --clr-neutral-100: hsl(0 100% 100%);
  --clr-neutral-400: hsl(217 12% 63%);
  --clr-neutral-600: hsl(213 19% 18%);
  --clr-neutral-700: hsl(216 12% 8%);

  /* Colors - Gradient */
  --clr-gradient-1: linear-gradient(hsl(215 20% 17%), hsl(216 24% 12%));

  /* Font Families */
  --ff-base: "Overpass", sans-serif;

  /* Font Sizes */
  --fs-sm: calc(14 / 16 * 1rem);
  --fs-base: calc(15 / 16 * 1rem);
  --fs-md: calc(16 / 16 * 1rem);
  --fs-lg: calc(24 / 16 * 1rem);
  --fs-xl: calc(28 / 16 * 1rem);

  --fs-heading: clamp(1.5rem, 1.325rem + 0.85vw, 1.75rem);
  --fs-body: clamp(0.875rem, 0.75rem + 0.425vw, 1rem);

  /* Font Weights */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Margin / Padding Spaces */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 2.5rem; /* 40px */

  /* Space One-Step-Up pairs */
  --space-md-lg: clamp(1.5rem, 1.325rem + 0.75vw, 2rem);
  --space-lg-xl: clamp(2rem, 1.825rem + 1.125vw, 2.5rem);
}

/* ******** RESET ******** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.7;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* ******** GENERAL STYLES ******** */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-400);
  padding: var(--space-md);
}

fieldset {
  border: 0;
  padding: 0;
}

/* ******** COMPOSITION / LAYOUT ******** */
.wrapper {
  max-inline-size: 70em;
  margin-inline: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1rem);
}

.flow--lg {
  --flow-space: var(--space-md-lg);
}

.flex-flow {
  display: flex;
  row-gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.place-center {
  align-items: center;
  justify-content: center;
}

/* ******** UTILITIES ******** */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

.heading {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.text-center {
  text-align: center;
}

.margin-center {
  margin-inline: auto;
}

.padding-md {
  padding-block: var(--space-md-lg);
  padding-inline: var(--space-md);
}

.padding-lg {
  padding-block: var(--space-lg-xl);
  padding-inline: var(--space-md-lg);
}

/* ******** COMPONENTS ******** */
.button {
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  background: var(--clr-primary-500);
  width: 100%;
  border: 0;
  border-radius: 100vw;
  padding-block: 0.75rem;
  cursor: pointer;
  transition: background 300ms ease;

  &:hover {
    background: var(--clr-neutral-100);
  }
}

.card {
  background: var(--clr-gradient-1);
  border-radius: 1.875rem;
  max-inline-size: 26rem;
}

.icon {
  background: var(--clr-neutral-600);
  padding: 1rem;
  border-radius: 50%;
}

.card input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-button {
  background: var(--clr-neutral-600);
  text-align: center;
  font-weight: var(--fw-bold);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  transition: background 300ms ease;

  &:hover {
    background: var(--clr-neutral-100);
    color: var(--clr-neutral-700);
  }

  &:has(input:checked) {
    background: var(--clr-primary-500);
    color: var(--clr-neutral-700);
  }
}

.user-rating {
  color: var(--clr-primary-500);
  background: var(--clr-neutral-600);
  max-width: fit-content;
  margin-inline: auto;
  padding-block: var(--space-xs);
  padding-inline: var(--space-md);
  border-radius: 100vw;
}

/* ******** BLOCK STYLE ******** */

/* ******** EXCEPTIONS ******** */
